# Intellij
.idea/
*.iml
*.iws
.java-version

# Eclipse
.classpath
.project
.settings/

# Compiled files
*.class
target/
bin/

# Log files
*.log
.log.

# Temporary and backup files
*.tmp
*.bak
*.bkp
.~

# Cache
.cache-main
.cache-tests
.ensime*
*.drv
tags
.bsp/

# Metals
.bloop
.metals
metals.sbt

# Nix
shell.nix
